
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<div class="text-center">
							<img src="./img/{{photo}}" alt="" />
							<nav class="navbar navbar-light bg-light">
								<div class="container-fluid">
									<span class="navbar-brand">Họ và tên: {{fullName}}</span>
								</div>
								<div class="container-fluid">
									<span class="navbar-brand">Ngày Sinh: {{birthday}}</span>
								</div>
								<div class="container-fluid">
									<span class="navbar-brand">Giới Tính: {{gender}}</span>
								</div>
								<div class="container-fluid">
									<span class="navbar-brand">Điểm trung bình: {{mark}}</span>
								</div>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Bootstrap JavaScript Libraries -->
