<!-- form nhập Họ Tên text , Tuổi  lấy dữ liệu từ ng-model -->
<form>
	<div class="mb-3">
		<label for="exampleInputEmail1" class="form-label">Họ Tên</label>
		<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
			ng-model="inputValue.name">
		<!-- thong bao sai pham the p bs5 -->
		<div ng-if="kiemtradulieu.name==true" class="alert alert-danger">
			Vui lòng Nhập Tên
		</div>
	</div>
	<div class="mb-3">
		<label for="exampleInputPassword1" class="form-label">Tuổi</label>
		<input type="number" class="form-control" id="exampleInputPassword1" ng-model="inputValue.age">
		<!-- thong bao sai pham the p bs5 -->
		<div ng-show="kiemtradulieu.age==true" class="alert alert-danger">
			vui long nhap lai tuoi
		</div>
	</div>
	<button type="submit" class="btn btn-primary" ng-click="submit()">Submit</button>
</form>
<label>

</label>