<!doctype html>
<html lang="en">

<head>
	<title>Title</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS v5.2.1 -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
	<script src="/angular.min.js"></script>
</head>

<body ng-app="myApp">
	<div class="container" ng-controller="myCtrl" >
		<div class="row">
			<form>
				<!-- Họ Tên ng-model , Năm Sinh  ng-model , Giới Tính radio Nam Nữ ng=model ,  button  -->
				<input type="text" ng-model="person.name" placeholder="Nhập Họ Tên">
				<br>
				<input type="number" ng-model="person.year" placeholder="Nhập Năm Sinh">
				<br>
				<!-- radio gender Nam Nữ have ng-model=gender -->
				<input type="radio" name="gender" value="Nam" ng-model="person.gender">Nam
				<input type="radio" name="gender" value="Nữ" ng-model="person.gender">Nữ
				<br>
				<hr>
				<button type="submit" ng-click="sum()">Tính tổng</button>
				<h3>{{nghiaVu}}</h3>
			</form>
		</div>
	</div>
	<script>
		var app = angular.module('myApp', []);
		app.controller('myCtrl', function ($scope) {
			$scope.person = {};
			$scope.sum = function () {
				var tuoi = 2023 - $scope.person.year;
				if(tuoi < 18 || tuoi > 27 || $scope.person.gender == "Nữ" ){
					$scope.nghiaVu = "Bạn không đủ tuổi để đăng ký Nghĩa vụ";
				} else if(tuoi > 18 && tuoi < 27 && $scope.person.gender == "Nam"){
					$scope.nghiaVu = "Bạn đủ tuổi để đăng ký Nghĩa vụ";
				}else if ($scope.person.name == "" || $scope.person.year == "" || $scope.person.gender == "") {
					alert("Vui lòng nhập đầy đủ thông tin");
				}
				//  alert tat ca du lieu trong obj person
				alert($scope.person.name + " " + $scope.person.year + " " + $scope.person.gender + " " + tuoi + " " + $scope.nghiaVu);
			}
		})
	</script>
	<!-- Bootstrap JavaScript Libraries -->
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
		integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
		</script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
		integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
		</script>
</body>

</html>